.MMM-Peloton .workout_count img,
.MMM-Peloton .recent_workouts img {
	height: 32px;
	width: 32px;
}

.MMM-Peloton .workout_count table .icon {
	padding-right: 10px;
}

.MMM-Peloton .workout_count table .count {
	font-weight: 200;
	padding-left: 10px;
}

.MMM-Peloton .recent_workouts table .icon {
	padding-right: 10px;
}

.MMM-Peloton .recent_workouts table .count {
	font-weight: 200;
	padding-left: 15px;
}

.MMM-Peloton .recent_workouts table .time_since {
	font-size: 0.8em;
	font-weight: 300;
}

.MMM-Peloton .challenges table * {
	vertical-align: top;
}

.MMM-Peloton .challenges table .title,
.MMM-Peloton .challenges table .current_tier {
	padding-right: 10px;
}

.MMM-Peloton .challenges table .summary {
	font-size: 0.6em;
}