{% if workout_counts %}
	<div class="workout_count">
		<table class="small">
			<tbody>
				{% for workout_count in workout_counts %}
					<tr class="normal">
						<td class="icon"><img class="bright" src="{{ workout_count.icon_url }}" /></td>
						<td class="title align-left">{{ workout_count.name }}</td>
						<td class="count align-right">{{ workout_count.count }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}

{% if recent_workouts %}
	<div class="recent_workouts">
		<table class="small">
			<tbody>
				{% for recent_workout in recent_workouts %}
					<tr class="normal">
						<td class="title align-left">{{ recent_workout.ride.title }}</td>
						<td class="count align-right">{{ (recent_workout.start_time * 1000)|moment|format("ddd MMM Do") }} <span class="time_since">({{ (recent_workout.start_time * 1000)|timeSinceNow }})</span></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}