{% if workout_counts %}
	<div class="workout_count">
		<table class="small">
			<tbody>
				{% for workout_count in workout_counts %}
					<tr class="normal">
						<td class="icon"><img class="bright" src="{{ workout_count.icon_url }}" /></td>
						<td class="title align-left">{{ workout_count.name }}</td>
						<td class="count align-right">{{ workout_count.count }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}